/**
* @name wal
* @author prepodobnuy
* @description A theme based on @Melonturtle_ stream design
*/

/* Remove decorations */

:root {
  /* --- User variables --- */

  /* Jumping GIF */
  --jumping-gif: url("https://i.imgur.com/dCd49s0.gif");

  /* Background (if you want an image replace it by : 

--background-tertiary-alt: url("image-link"); without that => */
  --background-tertiary-alt: (prBR90);

  /* Border-radius for the whole theme */
  --border-radius: 4px;
}

* {
  transition: 
    background-color 0.1s,
    color 10ms;

}

.iconVisibility_f6f816 {
  transition: transform 0.2s;
}
.iconVisibility_f6f816:hover {
}
.iconVisibility_f6f816:active {
  transform: translateY(2px);
}

.wrapper_f90abb {
  transition: transform 0.2s;
}
.wrapper_f90abb:hover {
}
.wrapper_f90abb:active {
  transform: scale(0.96);
}

.theme-dark, .theme-light {
  /* Text */
  --text-normal: #EBF9FE;
  --header-primary: #EBF9FE;
  --interactive-normal: #7E8C91;
  --channels-default: #EBF9FE;

  --text-muted: #EBF9FE;
  --interactive-muted: #EBF9FE;

  --header-secondary: #7E8C91;
  --interactive-hover: #748287;
  --interactive-active: #6A787D;

  /* Background color */
  --background-primary: #1A282D;
  --background-secondary: #101E23;
  --background-secondary-alt: #061419;
  --background-tertiary: #000A0F;
  --background-floating: #2E3C41;
  --background-accent: #1A282D;
  --channeltextarea-background: var(--background-secondary);
  --modal-background: var(--background-primary);
  --background-modifier-hover: #38464B;
  --background-modifier-active: (prl1);
  --background-modifier-selected: (prl2);
  --toast-background: #5e3640 !important;
  --toast-header: #3b1d24 !important;
  --toast-contents: #49292f !important;
  --toast-border: #49292f !important;
  --input-background: var(--background-secondary);

  /* Scrollbar */
  --scrollbar-auto-thumb: #38464B;
  --scrollbar-auto-track: #1A282D;
  --scrollbar-thin-thumb: #38464B;
  --scrollbar-thin-track: transparent;

  /* Other */
  --channel-text-area-placeholder: var(--interactive-normal);
  --deprecated-quickswitcher-input-background: var(--background-pr);
}
.colorBrand-3cPPsm {
  color: #38464B;
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-1H2Jvj {
  background-color: #38464B !important;
}
.lookFilled-1H2Jvj:active,
.lookFilled-1H2Jvj:hover {
  background-color: #38464B !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #38464B;
  border-color: #38464B;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-1H2Jvj {
  background-color: #38464B !important;
}
.lookFilled-1H2Jvj:active,
.lookFilled-1H2Jvj:hover {
  background-color: (primaryd1) !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #38464B;
  border-color: #38464B;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}